body {
    background-color: #945f50;
    margin: 0;
    text-align: center;
    text-decoration-color: aliceblue;
}

nav.nav-center ul {
    text-align: center;
}

nav.nav-center ul li {
    display: inline;
    float: none;
}

.img-happy {
    width: 300px;
    align-content: center;
}